<!DOCTYPE html>
<html lang="en">
<head>
    <title>Comic Detail</title>
</head>

<body>
<h1>Comic Detail</h1>
{% extends "base.html" %}

{% block content %}
    {% if comic_data %}

        <!-- ROW 1 -->
        <div class="comic-header-row">

            <!-- ROW1, COL 1 - THUMBNAIL -->
            <div class="comic-thumbnail-column">
                {% if comic_data.thumbnail and comic_data.thumbnailExtension %}
                    <img src="{{ comic_data.thumbnail + '/portrait_uncanny' + comic_data.thumbnailExtension }}"
                         alt="{{ comic_data.title }} 300px x 450px thumbnail image"
                         class="comic-thumbnail-responsive">
                {% else %}
                    <img src=""
                         alt="Comic thumbnail N/A"
                         class="comic-thumbnail-responsive">
                {% endif %}
                <div class="comic-button-wrapper">
                    <div>
                        <a href="{{ comic_data.detailURL }}">Detail URL</a>
                    </div>
                </div>
                <div class="comic-button-wrapper">
                    <form method="GET"
                          action="/refresh/comic/{{ comic_data.id }}"
                          class="update-comic-button">
                        <input type="submit"
                               value="Refresh Comic {{ comic_data.id }}"
                               name="Refresh Comic"
                               class="update-comic-button"/>
                    </form>
                </div>
                <div class="comic-button-wrapper">
                    <form method="GET"
                          action="/edit/comic/{{ comic_data.id }}"
                          class="update-comic-button">
                        <input type="submit"
                               value="Edit Comic {{ comic_data.id }}"
                               name="Edit Comic"
                               class="update-comic-button"/>
                    </form>
                </div>
            </div>

            <!-- ROW 1, COL 2 -->
            <div class="comic-details1">

                <!-- COL 2, ROW 1 - TITLE -->
                <div class="comic-title">
                    <h1 class="comic-title-text">{{ comic_data.title }}</h1>
                </div>

                <!-- FORMAT, PAGE COUNT, VARIANT DESCRIPTION -->
                <div class="comic-detail-basic comic-detail-basic-text">
                    <div>
                        <strong>Format:</strong>
                        {{ comic_data.format if comic_data.format else 'Unkown' }}
                    </div>
                    <div>
                        <strong>Page Count:</strong>
                        {% if comic_data.pageCount and comic_data.pageCount != "None" %}
                            {{ comic_data.pageCount }} pgs.
                        {% else %}
                            {{ 'Unknown' }}
                        {% endif %}
                    </div>
                    <div>
                        <strong>Variant Description:</strong>
                        {% if comic_data.variantDescription and comic_data.variantDescription != "None" %}
                            {{ comic_data.variantDescription }}
                        {% else %}
                            {{ "N/A" }}
                        {% endif %}
                    </div>
                </div>

                <!-- PURCHASE DETAILS -->
                {% if comic_data.isPurchased %}
                    <div class="comic-purchase-detail">
                        <div>
                            <strong>Purchase Date:</strong>
                            {{ comic_data.purchaseDate }}
                        </div>
                        <div>
                            <strong>Purchase Price:</strong>
                            ${{ comic_data.purchasePrice }}
                        </div>
                        <div>
                            <strong>Purchase Type:</strong>
                            {{ comic_data.purchaseType }}
                        </div>
                        <div>
                            <strong>User Updated:</strong>
                            {{ comic_data['PurchasedComics.updated'] }}
                        </div>
                    </div>
                {% endif %}

                <!-- COL2, ROW 3 - PRINT AND DIGITAL DETAILS -->
                <div class="comic-print-digital-detail">
                    <div class="comic-print-detail-card">
                        <div class="comic-print-detail-card-text">
                            <div class="card-header">
                                <strong>Print Details</strong>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <strong>Print Price:</strong>
                                    {% if comic_data.printPrice %}
                                        {{ "$" ~ comic_data.printPrice }}
                                    {% else %}
                                        {{ "N/A" }}
                                    {% endif %}
                                </li>
                                <li class="list-group-item">
                                    <strong>On Sale Date:</strong>
                                    {% if comic_data.onSaleDate %}
                                        {{ comic_data.onSaleDate }}
                                    {% else %}
                                        {{ "N/A" }}
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="comic-print-detail-card">
                        <div class="comic-print-detail-card-text">
                            <div class="card-header">
                                <strong>Digital Details</strong>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <strong>Digital Price:</strong>
                                    {% if comic_data.digitalPurchasePrice %}
                                        {{ "$" ~ comic_data.digitalPurchasePrice }}
                                    {% else %}
                                        {{ "N/A" }}
                                    {% endif %}
                                </li>
                                <li class="list-group-item">
                                    <strong>Digital Purchase Date:</strong>
                                    {% if comic_data.digitalPurchaseDate %}
                                        {{ comic_data.digitalPurchaseDate }}
                                    {% else %}
                                        {{ "N/A" }}
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <!-- ROW 1, COL3 -->
            <div class="comic-details2">
                <div>
                    <!-- COL3, ROW 1 - ISSUE NUMBER -->
                    {% if comic_data.description and comic_data.description != "None" %}
                        <div>
                            <div class="issue-number-box">
                                <div class="issue-number-box-text">
                                    {% if comic_data.issueNumber %}
                                        {{ "# " ~comic_data.issueNumber | int }}
                                    {% else %}
                                        {{ "N/A" }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- COL3, ROW 2 - COMIC DESCRIPTION -->
                        <div class="comic-description">
                            {{ comic_data.description }}
                        </div>

                    {% else %}
                        <div>
                            <div class="issue-number-box">
                                <div class="issue-number-box-text">
                                    {% if comic_data.issueNumber %}
                                        {{ "# " ~comic_data.issueNumber | int }}
                                    {% else %}
                                        {{ "N/A" }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div>

                    <!-- COL3, ROW 3 - NUMERIC DESCRIPTORS -->
                    <table class="comic-number-descriptors">
                        <tbody>
                        <tr>
                            <td>
                                <strong>ISBN:</strong>{{ comic_data.isbn if comic_data.isbn else "N/A" }}
                            </td>
                            <td>
                                <strong>ISSN:</strong>{{ comic_data.issn if comic_data.issn else "N/A" }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>EAN:</strong>{{ comic_data.ean if comic_data.ean else "N/A" }}
                            </td>
                            <td><strong>Diamond
                                Code:</strong>{{ comic_data.diamondCode if comic_data.diamondCode else "N/A" }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>UPC:</strong>{{ comic_data.upc if comic_data.upc else "N/A" }}
                            </td>
                            <td>
                                <strong>Modified:</strong>{{ comic_data.modified if comic_data.modified else "N/A" }}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Foc
                                Date:</strong>{{ comic_data.focDate if comic_data.focDate else "N/A" }}
                            </td>
                            <td><strong>Unltd.
                                Date:</strong>{{ comic_data.unlimitedDate if comic_data.unlimitedDate else "N/A" }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- ROW 2 SERIES AND STORIES-->
        <div>
            <h5>Series and Stories</h5>
            <div class="comic-entity-row">

                <!-- ROW 2, COL 1 SERIES DETAIL -->
                <div class="comic-entity-card">
                    <img class="comic-entity-thumbnail"
                            {% if series_data.thumbnail %}
                         src="{{ series_data.thumbnail + series_data.thumbnailExtension }}"
                            {% else %}
                         src=""
                            {% endif %}
                         alt="Comic Series Thumbnail">
                    <div class="comic-entity-body">
                        <h5 class="comic-entity-card-text">
                            {% if series_data.title %}
                                {{ 'Series Title: ' + series_data.title }}
                            {% else %}
                                Series Title: N/A
                            {% endif %}
                        </h5>
                        <h6 class="comic-entity-card-text">
                            {% if series_data.id %}
                                {{ 'Series ID: (' ~series_data.id + ')' }}
                            {% else %}
                                ID: N/A
                            {% endif %}
                        </h6>
                        <p class="comic-entity-card-text">
                            {% if series_data.description %}
                                {{ 'Series Description: ' + series_data.description }}
                            {% else %}
                                Series Description: N/A
                            {% endif %}
                        </p>

                        <div class="comic-entity-detail-url">
                            <a href="{{ series_data.detailURL }}">Series Detail
                                URL</a>
                        </div>
                    </div>
                </div>

                <!-- ROW 2, COL 2 COVER STORY DETAIL -->
                <div class="comic-entity-card">
                    <img class="comic-entity-thumbnail"
                            {% if story_data.thumbnail %}
                         src="{{ story_data.thumbnail + story_data.thumbnailExtension }}"
                            {% else %}
                         src=""
                            {% endif %}
                         alt="Comic Cover Story Thumbnail">
                    <div class="comic-entity-body">
                        <h5 class="comic-entity-card-text">
                            {% if story_data.title %}
                                {{ 'Cover Story Title: ' + story_data.title }}
                            {% else %}
                                Cover Story Title: N/A
                            {% endif %}
                        </h5>
                        <h6 class="comic-entity-story-card-text">
                            {% if story_data.id %}
                                {{ 'Cover Story ID: (' ~story_data.id + ')' }}
                            {% else %}
                                Cover Story ID: N/A
                            {% endif %}
                        </h6>
                        <p class="comic-entity-card-text">
                            {% if story_data.description %}
                                {{ 'Cover Story Description: ' + story_data.description }}
                            {% else %}
                                Cover Story Description: N/A
                            {% endif %}
                        </p>
                    </div>
                </div>

                <!-- ROW 2, COL 3 INTERIOR STORY DETAIL DETAIL -->
                <div class="comic-entity-card">
                    <img class="comic-entity-thumbnail"
                            {% if story_data['interiorStory.thumbnail'] %}
                         src="{{ story_data['interiorStory.thumbnail'] + story_data['interiorStory.thumbnailExtension'] }}"
                            {% else %}
                         src=""
                            {% endif %}
                         alt="Comic Interior Story Thumbnail">
                    <div class="comic-entity-body">
                        <h5 class="comic-series-story-card-text">
                            {% if story_data['interiorStory.title'] %}
                                {{ 'Interior Story Title: ' + story_data['interiorStory.title'] }}
                            {% else %}
                                Interior Story Title: N/A
                            {% endif %}
                        </h5>
                        <h6 class="comic-entity-card-text">
                            {% if story_data['interiorStory.id'] %}
                                {{ 'Interior Story ID: (' ~story_data['interiorStory.id'] + ')' }}
                            {% else %}
                                Interior Story ID: N/A
                            {% endif %}
                        </h6>
                        <p class="comic-entity-card-text">
                            {% if story_data['interiorStory.description'] %}
                                {{ 'Interior Story Description: ' + story_data['interiorStory.description'].decode() }}
                            {% else %}
                                Interior Story Description: N/A
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {% include "base_gallery.html" %}




    {% else %}
        <div>
            <p>
                ERROR - NO COMIC DATA AVAILABLE
            </p>
        </div>

    {% endif %}

{% endblock %}

</body>

</html>
