<!DOCTYPE html>
<html lang="en">
<head>
    <title>Series Detail</title>
</head>

<body>
<h1>Series Detail</h1>
{% extends "base.html" %}

{% block content %}
    {% if series_data %}

        <!-- ROW 1 -->
        <div class="comic-header-row">

            <!-- ROW1, COL 1 - THUMBNAIL -->
            <div class="comic-thumbnail-column">
                {% if series_data.thumbnail and series_data.thumbnailExtension %}
                    <img src="{{ series_data.thumbnail + '/portrait_uncanny' + series_data.thumbnailExtension }}"
                         alt="{{ series_data.title }} 300px x 450px thumbnail image"
                         class="comic-thumbnail-responsive">
                {% else %}
                    <img src=""
                         alt="Series thumbnail N/A"
                         class="comic-thumbnail-responsive">
                {% endif %}
                <div class="comic-button-wrapper">
                    <div>
                        <a href="{{ series_data.detailURL }}">Detail URL</a>
                    </div>
                </div>
                {#                <div class="comic-button-wrapper">#}
                {#                    <form method="GET"#}
                {#                          action="/refresh/comic/{{ comic_data.id }}"#}
                {#                          class="update-comic-button">#}
                {#                        <input type="submit"#}
                {#                               value="Refresh Comic {{ comic_data.id }}"#}
                {#                               name="Refresh Comic"#}
                {#                               class="update-comic-button"/>#}
                {#                    </form>#}
                {#                </div>#}
                {#                <div class="comic-button-wrapper">#}
                {#                    <form method="GET"#}
                {#                          action="/edit/comic/{{ comic_data.id }}"#}
                {#                          class="update-comic-button">#}
                {#                        <input type="submit"#}
                {#                               value="Edit Comic {{ comic_data.id }}"#}
                {#                               name="Edit Comic"#}
                {#                               class="update-comic-button"/>#}
                {#                    </form>#}
                {#                </div>#}
            </div>

            <div class="comic-details1">

                <!-- SERIES TITLE -->
                <div class="comic-title">
                    <h1 class="comic-title-text">{{ series_data.title }}</h1>
                </div>

                <!-- FORMAT, PAGE COUNT, VARIANT DESCRIPTION -->
                <div class="comic-detail-basic comic-detail-basic-text">
                    <div>
                        <strong>Start Year: </strong>
                        {{ series_data.startYear if series_data.startYear else 'Unkown' }}
                    </div>
                    <div>
                        <strong>End Year: </strong>
                        {{ series_data.endYear if series_data.endYear else 'Unkown' }}
                    </div>
                    <div>
                        <strong>Series Type: </strong>
                        {{ series_data.type if series_data.type
                        and series_data.type != 'None' else 'Unkown' }}
                    </div>
                </div>
                <div class="comic-description">
                    <strong>Rating: </strong>
                    {{ series_data.rating if series_data.rating else 'None' }}
                </div>

            </div>

            <!-- SERIES DESCRIPTION -->
            <div class="comic-details2">
                <div class="comic-description">
                    {{ series_data.description }}
                </div>
            </div>
        </div>

        <!-- ROW 3 CHARACTERS -->
        <div>
            <h5>Characters</h5>
            <div class="comic-entity-row">
                {% for character in character_data %}
                    <div class="comic-entity-card">
                        <img class="comic-entity-thumbnail"
                                {% if character.thumbnail %}
                             src="{{ character.thumbnail + character.thumbnailExtension }}"
                                {% else %}
                             src=""
                                {% endif %}
                             alt="Character Thumbnail">
                        <div class="comic-entity-body">
                            <h6 class="comic-entity-card-text">
                                {{ 'Name: ' + character.name }}
                            </h6>
                            <h6 class="comic-entity-card-text">
                                {% if character.id %}
                                    {{ 'Character ID: (' ~character.id + ')' }}
                                {% else %}
                                    Character ID: N/A
                                {% endif %}
                            </h6>
                            <p class="comic-entity-card-text">
                                {% if character.description %}
                                    {{ 'Character Description: ' + character.description }}
                                {% else %}
                                    Character Description: N/A
                                {% endif %}
                            </p>

                            <div class="comic-entity-detail-url">
                                {% if character.detailURL %}
                                    <a href="{{ character.detailURL }}">Character
                                        Detail URL</a>
                                {% else %}
                                    <a></a>
                                {% endif %}
                            </div>
                            <div class="comic-entity-detail-url">
                                {% if character.wiki %}
                                    <a href="{{ character.wiki }}">Character
                                        Wiki URL</a>
                                {% else %}
                                    <a></a>
                                {% endif %}
                            </div>
                            <div class="comic-entity-detail-url">
                                {% if character.comicLink %}
                                    <a href="{{ character.comicLink }}">Character
                                        ComicLink URL</a>
                                {% else %}
                                    <a></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {#        <!-- ROW 4 EVENTS -->#}
        {#        <div>#}
        {#            <h5>Events</h5>#}
        {#            <div class="comic-entity-row">#}
        {#                {% for event in event_data %}#}
        {#                    <div class="comic-entity-card">#}
        {#                        <img class="comic-entity-thumbnail"#}
        {#                                {% if event.thumbnail %}#}
        {#                             src="{{ event.thumbnail + event.thumbnailExtension }}"#}
        {#                                {% else %}#}
        {#                             src=""#}
        {#                                {% endif %}#}
        {#                             alt="Event Thumbnail">#}
        {#                        <div class="comic-entity-body">#}
        {#                            <h6 class="comic-entity-card-text">#}
        {#                                {{ 'Title: ' + event.title }}#}
        {#                            </h6>#}
        {#                            <h6 class="comic-entity-card-text">#}
        {#                                {% if event.id %}#}
        {#                                    {{ 'Event ID: (' ~event.id + ')' }}#}
        {#                                {% else %}#}
        {#                                    Event ID: N/A#}
        {#                                {% endif %}#}
        {#                            </h6>#}
        {#                            <h6 class="comic-entity-card-text">#}
        {#                                {% if event.start %}#}
        {#                                    {{ 'Event Start: ' ~event.start }}#}
        {#                                {% else %}#}
        {#                                    Event Start: N/A#}
        {#                                {% endif %}#}
        {#                            </h6>#}
        {#                            <h6 class="comic-entity-card-text">#}
        {#                                {% if event.end %}#}
        {#                                    {{ 'Event End: ' ~event.end }}#}
        {#                                {% else %}#}
        {#                                    Event End: N/A#}
        {#                                {% endif %}#}
        {#                            </h6>#}
        {#                            <p class="comic-entity-card-text">#}
        {#                                {% if event.description %}#}
        {#                                    {{ 'Event Description: ' + event.description }}#}
        {#                                {% else %}#}
        {#                                    Event Description: N/A#}
        {#                                {% endif %}#}
        {#                            </p>#}
        {#                            <div class="comic-entity-detail-url">#}
        {#                                {% if event.detailURL %}#}
        {#                                    <a href="{{ event.detailURL }}">Event#}
        {#                                        Detail URL</a>#}
        {#                                {% else %}#}
        {#                                    <a></a>#}
        {#                                {% endif %}#}
        {#                            </div>#}
        {#                            <div class="comic-entity-detail-url">#}
        {#                                {% if event.wiki %}#}
        {#                                    <a href="{{ event.wiki }}">Event#}
        {#                                        Wiki URL</a>#}
        {#                                {% else %}#}
        {#                                    <a></a>#}
        {#                                {% endif %}#}
        {#                            </div>#}
        {#                            <div class="comic-entity-detail-url">#}
        {#                                {% if event.comicLink %}#}
        {#                                    <a href="{{ event.comicLink }}">Event#}
        {#                                        ComicLink URL</a>#}
        {#                                {% else %}#}
        {#                                    <a></a>#}
        {#                                {% endif %}#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                {% endfor %}#}
        {#            </div>#}
        {#        </div>#}
        {##}
        {#        <!-- ROW 5 - CREATORS -->#}
        {#        <div>#}
        {#            <h5>Creators</h5>#}
        {#            <div class="comic-entity-row">#}
        {##}
        {#                {% for creator in creator_data %}#}
        {#                    <div class="comic-entity-card">#}
        {#                        <img class="comic-entity-thumbnail"#}
        {#                                {% if creator.thumbnail %}#}
        {#                             src="{{ creator.thumbnail + creator.thumbnailExtension }}"#}
        {#                                {% else %}#}
        {#                             src=""#}
        {#                                {% endif %}#}
        {#                             alt="Creator Thumbnail">#}
        {#                        <div class="comic-entity-body">#}
        {#                            <h6 class="comic-entity-card-text">#}
        {#                                {{ 'Name: ' + creator.firstName.strip() + ' ' + creator.middleName.strip() + ' ' + creator.lastName.strip() }}#}
        {#                            </h6>#}
        {#                            <h6 class="comic-entity-card-text">#}
        {#                                {% if creator.id %}#}
        {#                                    {{ 'Creator ID: (' ~creator.id + ')' }}#}
        {#                                {% else %}#}
        {#                                    ID: N/A#}
        {#                                {% endif %}#}
        {#                            </h6>#}
        {#                            <p class="comic-entity-card-text">#}
        {#                                {% if creator.role %}#}
        {#                                    {{ 'Creator Role: ' + creator.role }}#}
        {#                                {% else %}#}
        {#                                    Role: N/A#}
        {#                                {% endif %}#}
        {#                            </p>#}
        {#                            <div class="comic-entity-detail-url">#}
        {#                                {% if creator.detailURL %}#}
        {#                                    <a href="{{ creator.detailURL }}">Creator#}
        {#                                        Detail URL</a>#}
        {#                                {% else %}#}
        {#                                    <a></a>#}
        {#                                {% endif %}#}
        {#                            </div>#}
        {#                            <div class="comic-entity-detail-url">#}
        {#                                {% if creator.wiki %}#}
        {#                                    <a href="{{ creator.wiki }}">Creator#}
        {#                                        Wiki URL</a>#}
        {#                                {% else %}#}
        {#                                    <a></a>#}
        {#                                {% endif %}#}
        {#                            </div>#}
        {#                            <div class="comic-entity-detail-url">#}
        {#                                {% if creator.comicLink %}#}
        {#                                    <a href="{{ creator.comicLink }}">Creator#}
        {#                                        ComicLink URL</a>#}
        {#                                {% else %}#}
        {#                                    <a></a>#}
        {#                                {% endif %}#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                {% endfor %}#}
        {#            </div>#}
        {#        </div>#}
        {##}
        {#        <!-- ROW 6 - VARIANTS -->#}
        {#        <div>#}
        {#            <h5>Variants</h5>#}
        {#            <div class="comic-entity-row">#}
        {##}
        {#                {% for variant in variant_data %}#}
        {#                    <div class="comic-entity-card">#}
        {#                        <img class="comic-entity-thumbnail"#}
        {#                                {% if variant.thumbnail %}#}
        {#                             src="{{ variant.thumbnail + variant.thumbnailExtension }}"#}
        {#                                {% else %}#}
        {#                             src=""#}
        {#                                {% endif %}#}
        {#                             alt="Variant Thumbnail">#}
        {#                        <div class="comic-entity-body">#}
        {#                            <h6 class="comic-entity-card-text">#}
        {#                                {{ 'Variant Title: ' + variant.title }}#}
        {#                            </h6>#}
        {#                            <h6 class="comic-entity-card-text">#}
        {#                                {% if variant.id %}#}
        {#                                    {{ 'Variant ID: (' ~variant.id + ')' }}#}
        {#                                {% else %}#}
        {#                                    Variant ID: N/A#}
        {#                                {% endif %}#}
        {#                            </h6>#}
        {#                            <p class="comic-entity-card-text">#}
        {#                                {% if variant.description %}#}
        {#                                    {{ 'Variant Description: ' + variant.description }}#}
        {#                                {% elif variant.variantDescription %}#}
        {#                                    {{ 'Variant Description: ' + variant.variantDescription }}#}
        {#                                {% else %}#}
        {#                                    Variant Description: N/A#}
        {#                                {% endif %}#}
        {#                            </p>#}
        {#                            <div class="comic-entity-detail-url">#}
        {#                                {% if variant.detailURL %}#}
        {#                                    <a href="{{ variant.detailURL }}">Variant#}
        {#                                        Detail URL</a>#}
        {#                                {% else %}#}
        {#                                    <a></a>#}
        {#                                {% endif %}#}
        {#                            </div>#}
        {#                            <div class="comic-entity-detail-url">#}
        {#                                {% if variant.wiki %}#}
        {#                                    <a href="{{ variant.wiki }}">Variant#}
        {#                                        Wiki URL</a>#}
        {#                                {% else %}#}
        {#                                    <a></a>#}
        {#                                {% endif %}#}
        {#                            </div>#}
        {#                            <div class="comic-entity-detail-url">#}
        {#                                {% if variant.comicLink %}#}
        {#                                    <a href="{{ variant.comicLink }}">Variant#}
        {#                                        ComicLink URL</a>#}
        {#                                {% else %}#}
        {#                                    <a></a>#}
        {#                                {% endif %}#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                {% endfor %}#}
        {#            </div>#}
        {#        </div>#}
        {##}
        {#        <!-- ROW 7 - IMAGES -->#}
        {#        <div>#}
        {#            <h5>Images</h5>#}
        {#            <div class="comic-entity-row">#}
        {##}
        {#                {% for image in image_data %}#}
        {#                    <div class="comic-entity-card">#}
        {#                        <img class="comic-entity-thumbnail"#}
        {#                                {% if image.thumbnail %}#}
        {#                             src="{{ image.thumbnail + image.thumbnailExtension }}"#}
        {#                                {% else %}#}
        {#                             src=""#}
        {#                                {% endif %}#}
        {#                             alt="Comic Image Thumbnail">#}
        {#                        <div class="comic-entity-detail-url">#}
        {#                            {% if image.thumbnail and image.thumbnailExtension %}#}
        {#                                <a href="{{ image.thumbnail + image.thumbnailExtension }}">Image#}
        {#                                    URL</a>#}
        {#                            {% else %}#}
        {#                                <a></a>#}
        {#                            {% endif %}#}
        {#                        </div>#}
        {##}
        {#                    </div>#}
        {#                {% endfor %}#}
        {#            </div>#}
        {#        </div>#}

    {% else %}
        <div>
            <p>
                ERROR - NO SERIES DATA AVAILABLE
            </p>
        </div>

    {% endif %}

{% endblock %}

</body>

</html>
