<!DOCTYPE html>
<html lang="en">
<head>
    <title>Series Detail</title>
</head>
<body>
<h1>Series Detail</h1>
{% extends "base.html" %}

{% block content %}
    {% if series_data %}

        <!-- SERIES HEADER -->
        <div class="comic-header-row">

            <!-- ROW1, COL 1 - THUMBNAIL -->
            <div class="comic-thumbnail-column">
                {% if series_data.thumbnail and series_data.thumbnailExtension %}
                    <img src="{{ series_data.thumbnail + '/portrait_uncanny' + series_data.thumbnailExtension }}"
                         alt="{{ series_data.title }} 300px x 450px thumbnail image"
                         class="comic-thumbnail-responsive">
                {% else %}
                    <img src=""
                         alt="Series thumbnail N/A"
                         class="comic-thumbnail-responsive">
                {% endif %}
                <div class="comic-button-wrapper">
                    <div>
                        <a href="{{ series_data.detailURL }}">Detail URL</a>
                    </div>
                </div>
                {#                <div class="comic-button-wrapper">#}
                {#                    <form method="GET"#}
                {#                          action="/refresh/comic/{{ comic_data.id }}"#}
                {#                          class="update-comic-button">#}
                {#                        <input type="submit"#}
                {#                               value="Refresh Comic {{ comic_data.id }}"#}
                {#                               name="Refresh Comic"#}
                {#                               class="update-comic-button"/>#}
                {#                    </form>#}
                {#                </div>#}
                {#                <div class="comic-button-wrapper">#}
                {#                    <form method="GET"#}
                {#                          action="/edit/comic/{{ comic_data.id }}"#}
                {#                          class="update-comic-button">#}
                {#                        <input type="submit"#}
                {#                               value="Edit Comic {{ comic_data.id }}"#}
                {#                               name="Edit Comic"#}
                {#                               class="update-comic-button"/>#}
                {#                    </form>#}
                {#                </div>#}
            </div>

            <!-- SERIES DETAIL -->
            <div class="comic-details1">

                <!-- SERIES TITLE -->
                <div class="comic-title">
                    <h1 class="comic-title-text">{{ series_data.title }}</h1>
                </div>
                <!-- START AND END YEAR, SERIES TYPE -->
                <div class="comic-detail-basic comic-detail-basic-text">
                    <div>
                        <strong>Start Year: </strong>
                        {{ series_data.startYear if series_data.startYear else 'Unkown' }}
                    </div>
                    <div>
                        <strong>End Year: </strong>
                        {{ series_data.endYear if series_data.endYear else 'Unkown' }}
                    </div>
                    <div>
                        <strong>Series Type: </strong>
                        {{ series_data.type if series_data.type
                            and series_data.type != 'None' else 'Unkown' }}
                    </div>
                </div>
                <!-- SERIES RATING -->
                <div class="comic-detail-basic comic-detail-basic-text">
                    <div>
                        <strong>Rating: </strong>
                        {{ series_data.rating.decode() if series_data.rating else 'None' }}
                    </div>
                </div>

            </div>

            <!-- SERIES DESCRIPTION -->
            <div class="comic-details2">
                <div class="comic-description">
                    {{ series_data.description }}
                </div>
            </div>
        </div>

        {% include "base_gallery.html" %}

    {% else %}
        <div>
            <p>
                ERROR - NO SERIES DATA AVAILABLE
            </p>
        </div>
    {% endif %}
{% endblock %}
</body>
</html>
