<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<div id="header">
    {% block header %}
        <body>
        <nav class="navbar backgroundImage">
            {% for item in nav.top %}
                <a class="linknav focusnav activenav visitednav"
                   href="{{ item.url }}">{{ item.label }} | </a>
            {% endfor %}
        </nav>
        </body>
    {% endblock %}
</div>

<div id="content">{% block content %}{% endblock %}</div>

<div id="footer">
    {% block footer %}
        <body>
        <footer class="backgroundImage footer-text">
            <h3>About</h3>
            <ul>
                <li>Zane Miller</li>
                <li>Email: millerzanem@gmail.com</li>
                <li>Location: Seattle, WA</li>
            </ul>
            <p class="footer-copyright">
                <a class="footer-links" href="https://marvel.com">
                    Data provided by Marvel. &copy 2023 MARVEL
                </a>
            </p>
        </footer>
        </body>
    {% endblock %}
</div>