<!DOCTYPE html>
<html lang="en">
<head>
    <title>Comic Detail</title>
</head>

<body>
<h1>Comic Detail</h1>
{% extends "base.html" %}

{% block content %}
    {% if comic_data %}

        <!-- ROW 1 -->
        <div class="comic-header-row">

            <!-- ROW1, COL 1 - THUMBNAIL -->
            <div class="comic-thumbnail-column">
                <img src="{{ comic_data.thumbnail + '/portrait_uncanny' + comic_data.thumbnailExtension }}"
                     alt="{{ comic_data.title }} 300px x 450px thumbnail image"
                     class="comic-thumbnail-responsive">
            </div>

            <!-- ROW 1, COL 2 -->
            <div class="comic-details1">

                <!-- COL 2, ROW 1 - TITLE -->
                <div class="comic-title">
                    <h1 class="comic-title-text">{{ comic_data.title }}</h1>
                </div>

                <!-- COL2, ROW 2 - FORMAT, PAGE COUNT, VARIANT DESCRIPTION -->
                <div class="comic-detail-basic comic-detail-basic-text">
                    <div>
                        <strong>Format:</strong>
                        {{ comic_data.format if comic_data.format else 'Unkown' }}
                    </div>
                    <div>
                        <strong>Page Count:</strong>
                        {% if comic_data.pageCount and comic_data.pageCount != "None" %}
                            {{ comic_data.pageCount }} pgs.
                        {% else %}
                            {{ 'Unknown' }}
                        {% endif %}
                    </div>
                    <div>
                        <strong>Variant Description:</strong>
                        {% if comic_data.variantDescription and comic_data.variantDescription != "None" %}
                            {{ comic_data.variantDescription }}
                        {% else %}
                            {{ "N/A" }}
                        {% endif %}
                    </div>
                </div>

                <!-- COL2, ROW 3 - PRINT AND DIGITAL DETAILS -->
                <div class="comic-print-digital-detail">
                    <div class="comic-print-detail-card">
                        <div class="comic-print-detail-card-text">
                            <div class="card-header">
                                <strong>Print Details</strong>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <strong>Print Price:</strong>
                                    {% if comic_data.printPrice %}
                                        {{ "$" ~ comic_data.printPrice }}
                                    {% else %}
                                        {{ "N/A" }}
                                    {% endif %}
                                </li>
                                <li class="list-group-item">
                                    <strong>On Sale Date:</strong>
                                    {% if comic_data.onSaleDate %}
                                        {{ comic_data.onSaleDate }}
                                    {% else %}
                                        {{ "N/A" }}
                                    {% endif %}
                                </li>
                                <li class="list-group-item">
                                    {% if comic_data.purchaseURL %}
                                        <a href="{{ comic_data.purchaseURL }}">
                                            <strong>Purchase URL</strong>
                                        </a>
                                    {% else %}
                                        {{ "Purchase URL: N/A" }}
                                    {% endif %}

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="comic-print-detail-card">
                        <div class="comic-print-detail-card-text">
                            <div class="card-header">
                                <strong>Digital Details</strong>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <strong>Digital Price:</strong>
                                    {% if comic_data.digitalPurchasePrice %}
                                        {{ "$" ~ comic_data.digitalPurchasePrice }}
                                    {% else %}
                                        {{ "N/A" }}
                                    {% endif %}
                                </li>
                                <li class="list-group-item">
                                    <strong>Digital Purchase Date:</strong>
                                    {% if comic_data.digitalPurchaseDate %}
                                        {{ comic_data.digitalPurchaseDate }}
                                    {% else %}
                                        {{ "N/A" }}
                                    {% endif %}
                                </li>
                                <li class="list-group-item">
                                    {% if comic_data.readerURL %}
                                        <a href="{{ comic_data.readerURL }}">
                                            <strong>Reader URL</strong>
                                        </a>
                                    {% else %}
                                        {{ "Reader URL: N/A" }}
                                    {% endif %}

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <!-- ROW 1, COL3 -->
            <div class="comic-details2">

                <!-- COL3, ROW 1 - ISSUE NUMBER -->
                {% if comic_data.description.decode() and comic_data.description.decode() != "None" %}
                    <div>
                        <div class="issue-number-box"
                             style="float: left; margin-right: 20px">
                            <div class="issue-number-box-text">
                                {% if comic_data.issueNumber %}
                                    {{ "# " ~comic_data.issueNumber | int }}
                                {% else %}
                                    {{ "N/A" }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- COL3, ROW 2 - COMIC DESCRIPTION -->
                    <div class="comic-description comic-description-text">
                        {{ comic_data.description.decode() }}
                    </div>

                {% else %}
                    <div>
                        <div class="issue-number-box" style="align-items: center">
                            <div class="issue-number-box-text">
                                {% if comic_data.issueNumber %}
                                    {{ "# " ~comic_data.issueNumber | int }}
                                {% else %}
                                    {{ "N/A" }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <!-- COL3, ROW 3 - NUMERIC DESCRIPTORS -->
                <table class="comic-number-descriptors comic-numbers-text">
                    <tbody>
                    <tr>
                        <td><strong>ISBN:</strong>{{ comic_data.isbn if comic_data.isbn else "N/A" }}</td>
                        <td><strong>ISSN:</strong>{{ comic_data.issn if comic_data.issn else "N/A" }}</td>
                    </tr>
                    <tr>
                        <td><strong>EAN:</strong>{{ comic_data.ean if comic_data.ean else "N/A" }}</td>
                        <td><strong>Diamond Code:</strong>{{ comic_data.diamondCode if comic_data.diamondCode else "N/A" }}</td>
                    </tr>
                    <tr>
                        <td><strong>UPC:</strong>{{ comic_data.upc if comic_data.upc else "N/A" }}</td>
                        <td><strong>Modified:</strong>{{ comic_data.modified if comic_data.modified else "N/A" }}</td>
                    </tr>
                    <tr>
                        <td><strong>Foc Date:</strong>{{ comic_data.focDate if comic_data.focDate else "N/A" }}</td>
                        <td><strong>Unltd. Date:</strong>{{ comic_data.unlimitedDate if comic_data.unlimitedDate else "N/A" }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- ROW 2 SERIES AND STORIES-->
        <div class="comic-series-stories-row">
            <div class="row">

                <!-- ROW 2, COL 1 SERIES DETAIL -->
                <div class="series-story-col">
                    <div class="comic-series-story-card"><img
                            class="series-story-thumbnail"
                            src=""
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Series Title</h5>
                            <p class="card-text">Series Description text&nbsp;Series
                                Description textSeries Description textSeries
                                Description textSeries Description textSeries
                                Description textSeries Description text</p>
                        </div>
                    </div>
                </div>

                <!-- ROW 2, COL 2 INTERIOR STORY DETAIL -->
                <div class="series-story-col">
                    <div class="comic-series-story-card"><img
                            class="series-story-thumbnail"
                            src=""
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Interior Story Title</h5>
                            <p class="card-text">Interior story description&nbsp;Interior
                                story description&nbsp;Interior story
                                descriptionInterior story description&nbsp;Interior
                                story description Interior story description
                                Interior story</p>
                        </div>
                    </div>
                </div>

                <!-- ROW 2, COL 3 COVER STORY DETAIL DETAIL -->
                <div class="series-story-col">
                    <div class="comic-series-story-card"><img
                            src=""
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Cover Story title</h5>
                            <p class="card-text">Cover Story Description&nbsp;Cover
                                Story DescriptionCover Story DescriptionCover
                                Story
                                DescriptionCover Story DescriptionCover Story
                                Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ROW 3 CHARACTERS -->
        <div class="characters-gallery">
            <!-- ROW 3, COL 1 CHARACTER 1 DETAIL -->
            <div class="gallery-card-col">
                <div class="character-card"><img
                        src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                        alt="Card image cap"
                        class="series-story-thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Character 1</h5>
                    </div>
                </div>
                &nbsp;
            </div>

            <!-- ROW 3, COL 2 CHARACTER 2 DETAIL -->
            <div class="gallery-card-col">
                <div class="character-card"><img
                        src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                        alt="Card image cap"
                        class="series-story-thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Character2</h5>
                    </div>
                </div>
                &nbsp;
            </div>

            <!-- ROW 3, COL 3 CHARACTER 3 DETAIL -->
            <div class="gallery-card-col">
                <div class="character-card"><img
                        src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                        alt="Card image cap"
                        class="series-story-thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Character3</h5>
                    </div>
                </div>
                &nbsp;
            </div>

            <!-- ROW 3, COL 4 CHARACTER 4 DETAIL -->
            <div class="gallery-card-col">
                <div class="character-card"><img
                        src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                        alt="Card image cap"
                        class="series-story-thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Character4</h5>
                    </div>
                </div>
                &nbsp;
            </div>

            <!-- ROW 3, COL 5 CHARACTER 5 DETAIL -->
            <div class="gallery-card-col">
                <div class="character-card"><img
                        src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                        alt="Card image cap"
                        class="series-story-thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Character5</h5>
                    </div>
                </div>
                &nbsp;
            </div>
        </div>

        <!-- ROW 4 EVENTS -->
        <div class="events-gallery">
            <div class="row">

                <!-- EVENTS 1 -->
                <div class="gallery-card-col">
                    <div class="character-card"><img
                            src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Events 1</h5>
                        </div>
                    </div>
                    &nbsp;
                </div>

                <!-- EVENTS 2 -->
                <div class="gallery-card-col">
                    <div class="character-card"><img
                            src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Events 1</h5>
                        </div>
                    </div>
                    &nbsp;
                </div>

                <!-- EVENTS 3 -->
                <div class="gallery-card-col">
                    <div class="character-card"><img
                            src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Events 1</h5>
                        </div>
                    </div>
                    &nbsp;
                </div>

                <!-- EVENTS 4 -->
                <div class="gallery-card-col">
                    <div class="character-card"><img
                            src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Events 1</h5>
                        </div>
                    </div>
                    &nbsp;
                </div>

                <!-- EVENTS 5 -->
                <div class="gallery-card-col">
                    <div class="character-card"><img
                            src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Events 1</h5>
                        </div>
                    </div>
                    &nbsp;
                </div>
            </div>
        </div>

        <!-- ROW 5 - CREATORS -->
        <div class="creators-gallery">
            <div class="row">

                <!-- CREATORS 1 -->
                <div class="gallery-card-col">
                    <div class="character-card"><img
                            src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Creators 1</h5>
                        </div>
                    </div>
                    &nbsp;
                </div>

                <!-- CREATORS 2 -->
                <div class="gallery-card-col">
                    <div class="character-card"><img
                            src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Creators 1</h5>
                        </div>
                    </div>
                    &nbsp;
                </div>

                <!-- CREATORS 3 -->
                <div class="gallery-card-col">
                    <div class="character-card"><img
                            src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Creators 1</h5>
                        </div>
                    </div>
                    &nbsp;
                </div>

                <!-- CREATORS 4 -->
                <div class="gallery-card-col">
                    <div class="character-card"><img
                            src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Creators 1</h5>
                        </div>
                    </div>
                    &nbsp;
                </div>

                <!-- CREATORS 5 -->
                <div class="gallery-card-col">
                    <div class="character-card"><img
                            src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Creators 1</h5>
                        </div>
                    </div>
                    &nbsp;
                </div>
            </div>
        </div>

        <!-- ROW 6 VARIANTS -->
        <div class="variants-gallery">
            <div class="row">

                <!-- VARIANTS 1 -->
                <div class="gallery-card-col">
                    <div class="character-card"><img
                            src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Variants 1</h5>
                        </div>
                    </div>
                    &nbsp;
                </div>

                <!-- VARIANTS 2 -->
                <div class="gallery-card-col">
                    <div class="character-card"><img
                            src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Variants 1</h5>
                        </div>
                    </div>
                    &nbsp;
                </div>

                <!-- VARIANTS 3 -->
                <div class="gallery-card-col">
                    <div class="character-card"><img
                            src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Variants 1</h5>
                        </div>
                    </div>
                    &nbsp;
                </div>

                <!-- VARIANTS 4 -->
                <div class="gallery-card-col">
                    <div class="character-card"><img
                            src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Variants 1</h5>
                        </div>
                    </div>
                    &nbsp;
                </div>

                <!-- VARIANTS 5 -->
                <div class="gallery-card-col">
                    <div class="character-card"><img
                            src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Variants 1</h5>
                        </div>
                    </div>
                    &nbsp;
                </div>
            </div>
        </div>

        <!-- ROW 7 IMAGES -->
        <div class="images-gallery">
            <div class="row">

                <!-- IMAGE 1 -->
                <div class="gallery-card-col">
                    <div class="character-card"><img
                            src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Images 1</h5>
                        </div>
                    </div>
                    &nbsp;
                </div>

                <!-- IMAGE 2 -->
                <div class="gallery-card-col">
                    <div class="character-card"><img
                            src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Images 1</h5>
                        </div>
                    </div>
                    &nbsp;
                </div>

                <!-- IMAGE 3 -->
                <div class="gallery-card-col">
                    <div class="character-card"><img
                            src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Images 1</h5>
                        </div>
                    </div>
                    &nbsp;
                </div>

                <!-- IMAGE 4 -->
                <div class="gallery-card-col">
                    <div class="character-card"><img
                            src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Images 1</h5>
                        </div>
                    </div>
                    &nbsp;
                </div>

                <!-- IMAGE 5 -->
                <div class="gallery-card-col">
                    <div class="character-card"><img
                            src="file:///Macintosh HD/Users/zanemiller/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam2cd5a215.TMP/images/card-img.png"
                            alt="Card image cap"
                            class="series-story-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Images 1</h5>
                        </div>
                    </div>
                    &nbsp;
                </div>
            </div>
        </div>

    {% else %}
        <div>
            <p>
                ERROR - NO COMIC DATA AVAILABLE
            </p>
        </div>

    {% endif %}

{% endblock %}

</body>

</html>
