<!DOCTYPE html>
<html lang="en">
<!-- Modified from starter code provided in exploration from bsg_app-->
<head>
    <title>Comics</title>
    <link href=# rel="stylesheet" type="text/css"/>
</head>

<body>
<h1>Comics@@</h1>
{% extends "nav_bar.html" %}
{% block content %}

<div id="browse">
    <table border="1" cellpadding="5" class="center">
        <!-- Access data tuple passed from app.py -->
        {% if data %}
        <thead>
        <tr>
            {% for key in data[0].keys() %}
            <th scope="col"
                data-field="{{ key }}"
                data-filter-control="input">
                {{ key }}
            </th>
            <!-- End of this for loop -->
            {% endfor %}
        </tr>

        <tbody>
        {% for item in data %}
        <tr>
            {% for key in item.keys() %}

            <td> {{item[key]}}</td>
            {% endfor %}

        </tr>
        {% endfor %}
        {% endif %}
    </table>
    <p></p>
</div>
{% endblock %}
</body>
</html>
