<!DOCTYPE html>
<html lang="en">
<head>
    <title>Comic Detail</title>
</head>

<body>
<h1>Comic Detail</h1>
{% extends "base.html" %}

{% block content %}
    {% if comic_data %}

        <!-- ROW 1 -->
        <div class="comic-header-row">

            <!-- ROW1, COL 1 - THUMBNAIL -->
            <div class="comic-thumbnail-column">
                {% if comic_data.thumbnail and comic_data.thumbnailExtension %}
                    <img src="{{ comic_data.thumbnail + '/portrait_uncanny' + comic_data.thumbnailExtension }}"
                         alt="{{ comic_data.title }} 300px x 450px thumbnail image"
                         class="comic-thumbnail-responsive">
                {% else %}
                    <img src=""
                         alt="Comic thumbnail N/A"
                         class="comic-thumbnail-responsive">
                {% endif %}
                <div class="detail-url">
                    <div>
                        <a href="{{ comic_data.detailURL }}">Detail URL</a>
                    </div>
                </div>
            </div>

            <!-- ROW 1, COL 2 -->
            <div class="comic-details1">

                <!-- COL 2, ROW 1 - TITLE -->
                <div class="comic-title">
                    <h1 class="comic-title-text">{{ comic_data.title }}</h1>
                </div>

                <!-- COL2, ROW 2 - FORMAT, PAGE COUNT, VARIANT DESCRIPTION -->
                <div class="comic-detail-basic comic-detail-basic-text">
                    <div>
                        <strong>Format:</strong>
                        {{ comic_data.format if comic_data.format else 'Unkown' }}
                    </div>
                    <div>
                        <strong>Page Count:</strong>
                        {% if comic_data.pageCount and comic_data.pageCount != "None" %}
                            {{ comic_data.pageCount }} pgs.
                        {% else %}
                            {{ 'Unknown' }}
                        {% endif %}
                    </div>
                    <div>
                        <strong>Variant Description:</strong>
                        {% if comic_data.variantDescription and comic_data.variantDescription != "None" %}
                            {{ comic_data.variantDescription }}
                        {% else %}
                            {{ "N/A" }}
                        {% endif %}
                    </div>
                </div>

                <!-- COL2, ROW 3 - PRINT AND DIGITAL DETAILS -->
                <div class="comic-print-digital-detail">
                    <div class="comic-print-detail-card">
                        <div class="comic-print-detail-card-text">
                            <div class="card-header">
                                <strong>Print Details</strong>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <strong>Print Price:</strong>
                                    {% if comic_data.printPrice %}
                                        {{ "$" ~ comic_data.printPrice }}
                                    {% else %}
                                        {{ "N/A" }}
                                    {% endif %}
                                </li>
                                <li class="list-group-item">
                                    <strong>On Sale Date:</strong>
                                    {% if comic_data.onSaleDate %}
                                        {{ comic_data.onSaleDate }}
                                    {% else %}
                                        {{ "N/A" }}
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="comic-print-detail-card">
                        <div class="comic-print-detail-card-text">
                            <div class="card-header">
                                <strong>Digital Details</strong>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <strong>Digital Price:</strong>
                                    {% if comic_data.digitalPurchasePrice %}
                                        {{ "$" ~ comic_data.digitalPurchasePrice }}
                                    {% else %}
                                        {{ "N/A" }}
                                    {% endif %}
                                </li>
                                <li class="list-group-item">
                                    <strong>Digital Purchase Date:</strong>
                                    {% if comic_data.digitalPurchaseDate %}
                                        {{ comic_data.digitalPurchaseDate }}
                                    {% else %}
                                        {{ "N/A" }}
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <!-- ROW 1, COL3 -->
            <div class="comic-details2">
                <div>
                    <!-- COL3, ROW 1 - ISSUE NUMBER -->
                    {% if comic_data.description and comic_data.description.decode() != "None" %}
                        <div>
                            <div class="issue-number-box">
                                <div class="issue-number-box-text">
                                    {% if comic_data.issueNumber %}
                                        {{ "# " ~comic_data.issueNumber | int }}
                                    {% else %}
                                        {{ "N/A" }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- COL3, ROW 2 - COMIC DESCRIPTION -->
                        <div class="comic-description">
                            {{ comic_data.description.decode() }}
                        </div>

                    {% else %}
                        <div>
                            <div class="issue-number-box">
                                <div class="issue-number-box-text">
                                    {% if comic_data.issueNumber %}
                                        {{ "# " ~comic_data.issueNumber | int }}
                                    {% else %}
                                        {{ "N/A" }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div>

                    <!-- COL3, ROW 3 - NUMERIC DESCRIPTORS -->
                    <table class="comic-number-descriptors">
                        <tbody>
                        <tr>
                            <td>
                                <strong>ISBN:</strong>{{ comic_data.isbn if comic_data.isbn else "N/A" }}
                            </td>
                            <td>
                                <strong>ISSN:</strong>{{ comic_data.issn if comic_data.issn else "N/A" }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>EAN:</strong>{{ comic_data.ean if comic_data.ean else "N/A" }}
                            </td>
                            <td><strong>Diamond
                                Code:</strong>{{ comic_data.diamondCode if comic_data.diamondCode else "N/A" }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>UPC:</strong>{{ comic_data.upc if comic_data.upc else "N/A" }}
                            </td>
                            <td>
                                <strong>Modified:</strong>{{ comic_data.modified if comic_data.modified else "N/A" }}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Foc
                                Date:</strong>{{ comic_data.focDate if comic_data.focDate else "N/A" }}
                            </td>
                            <td><strong>Unltd.
                                Date:</strong>{{ comic_data.unlimitedDate if comic_data.unlimitedDate else "N/A" }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- ROW 2 SERIES AND STORIES-->
        <div>
            <h5>Series and Stories</h5>
            <div class="comic-entity-row">

                <!-- ROW 2, COL 1 SERIES DETAIL -->
                <div class="comic-entity-card">
                    <img class="comic-entity-thumbnail"
                            {% if series_data.thumbnail %}
                         src="{{ series_data.thumbnail + series_data.thumbnailExtension }}"
                            {% else %}
                         src=""
                            {% endif %}
                         alt="Comic Series Thumbnail">
                    <div class="comic-entity-body">
                        <h5 class="comic-entity-card-text">
                            {% if series_data.title %}
                                {{ 'Series Title: ' + series_data.title }}
                            {% else %}
                                Series Title: N/A
                            {% endif %}
                        </h5>
                        <h6 class="comic-entity-card-text">
                            {% if series_data.id %}
                                {{ 'Series ID: (' ~series_data.id + ')' }}
                            {% else %}
                                ID: N/A
                            {% endif %}
                        </h6>
                        <p class="comic-entity-card-text">
                            {% if series_data.description %}
                                {{ 'Series Description: ' + series_data.description.decode() }}
                            {% else %}
                                Series Description: N/A
                            {% endif %}
                        </p>

                        <div class="comic-entity-detail-url">
                            <a href="{{ series_data.detailURL }}">Series Detail
                                URL</a>
                        </div>
                    </div>
                </div>

                <!-- ROW 2, COL 2 COVER STORY DETAIL -->
                <div class="comic-entity-card">
                    <img class="comic-entity-thumbnail"
                            {% if story_data.thumbnail %}
                         src="{{ story_data.thumbnail + story_data.thumbnailExtension }}"
                            {% else %}
                         src=""
                            {% endif %}
                         alt="Comic Cover Story Thumbnail">
                    <div class="comic-entity-body">
                        <h5 class="comic-entity-card-text">
                            {% if story_data.title %}
                                {{ 'Cover Story Title: ' + story_data.title }}
                            {% else %}
                                Cover Story Title: N/A
                            {% endif %}
                        </h5>
                        <h6 class="comic-entity-story-card-text">
                            {% if story_data.id %}
                                {{ 'Cover Story ID: (' ~story_data.id + ')' }}
                            {% else %}
                                Cover Story ID: N/A
                            {% endif %}
                        </h6>
                        <p class="comic-entity-card-text">
                            {% if story_data.description %}
                                {{ 'Cover Story Description: ' + story_data.description.decode() }}
                            {% else %}
                                Cover Story Description: N/A
                            {% endif %}
                        </p>
                    </div>
                </div>

                <!-- ROW 2, COL 3 INTERIOR STORY DETAIL DETAIL -->
                <div class="comic-entity-card">
                    <img class="comic-entity-thumbnail"
                            {% if story_data['interiorStory.thumbnail'] %}
                         src="{{ story_data['interiorStory.thumbnail'] + story_data['interiorStory.thumbnailExtension'] }}"
                            {% else %}
                         src=""
                            {% endif %}
                         alt="Comic Interior Story Thumbnail">
                    <div class="comic-entity-body">
                        <h5 class="comic-series-story-card-text">
                            {% if story_data['interiorStory.title'] %}
                                {{ 'Interior Story Title: ' + story_data['interiorStory.title'] }}
                            {% else %}
                                Interior Story Title: N/A
                            {% endif %}
                        </h5>
                        <h6 class="comic-entity-card-text">
                            {% if story_data['interiorStory.id'] %}
                                {{ 'Interior Story ID: (' ~story_data['interiorStory.id'] + ')' }}
                            {% else %}
                                Interior Story ID: N/A
                            {% endif %}
                        </h6>
                        <p class="comic-entity-card-text">
                            {% if story_data['interiorStory.description'] %}
                                {{ 'Interior Story Description: ' + story_data['interiorStory.description'].decode() }}
                            {% else %}
                                Interior Story Description: N/A
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- ROW 3 CHARACTERS -->
        <div>
            <h5>Characters</h5>
            <div class="comic-entity-row">
                {% for character in character_data %}
                    <div class="comic-entity-card">
                        <img class="comic-entity-thumbnail"
                                {% if character.thumbnail %}
                             src="{{ character.thumbnail + character.thumbnailExtension }}"
                                {% else %}
                             src=""
                                {% endif %}
                             alt="Character Thumbnail">
                        <div class="comic-entity-body">
                            <h6 class="comic-entity-card-text">
                                {{ 'Name: ' + character.name }}
                            </h6>
                            <h6 class="comic-entity-card-text">
                                {% if character.id %}
                                    {{ 'Character ID: (' ~character.id + ')' }}
                                {% else %}
                                    Character ID: N/A
                                {% endif %}
                            </h6>
                            <p class="comic-entity-card-text">
                                {% if character.description %}
                                    {{ 'Character Description: ' + character.description.decode() }}
                                {% else %}
                                    Character Description: N/A
                                {% endif %}
                            </p>

                            <div class="comic-entity-detail-url">
                                {% if character.detailURL %}
                                    <a href="{{ character.detailURL }}">Character
                                        Detail URL</a>
                                {% else %}
                                    <a></a>
                                {% endif %}
                            </div>
                            <div class="comic-entity-detail-url">
                                {% if character.wiki %}
                                    <a href="{{ character.wiki }}">Character
                                        Wiki URL</a>
                                {% else %}
                                    <a></a>
                                {% endif %}
                            </div>
                            <div class="comic-entity-detail-url">
                                {% if character.comicLink %}
                                    <a href="{{ character.comicLink }}">Character
                                        ComicLink URL</a>
                                {% else %}
                                    <a></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

        <!-- ROW 4 EVENTS -->
        <div>
            <h5>Events</h5>
            <div class="comic-entity-row">
                {% for event in event_data %}
                    <div class="comic-entity-card">
                        <img class="comic-entity-thumbnail"
                                {% if event.thumbnail %}
                             src="{{ event.thumbnail + event.thumbnailExtension }}"
                                {% else %}
                             src=""
                                {% endif %}
                             alt="Event Thumbnail">
                        <div class="comic-entity-body">
                            <h6 class="comic-entity-card-text">
                                {{ 'Title: ' + event.title }}
                            </h6>
                            <h6 class="comic-entity-card-text">
                                {% if event.id %}
                                    {{ 'Event ID: (' ~event.id + ')' }}
                                {% else %}
                                    Event ID: N/A
                                {% endif %}
                            </h6>
                            <h6 class="comic-entity-card-text">
                                {% if event.start %}
                                    {{ 'Event Start: ' ~event.start }}
                                {% else %}
                                    Event Start: N/A
                                {% endif %}
                            </h6>
                            <h6 class="comic-entity-card-text">
                                {% if event.end %}
                                    {{ 'Event End: ' ~event.end }}
                                {% else %}
                                    Event End: N/A
                                {% endif %}
                            </h6>
                            <p class="comic-entity-card-text">
                                {% if event.description %}
                                    {{ 'Event Description: ' + event.description.decode() }}
                                {% else %}
                                    Event Description: N/A
                                {% endif %}
                            </p>
                            <div class="comic-entity-detail-url">
                                {% if event.detailURL %}
                                    <a href="{{ event.detailURL }}">Event
                                        Detail URL</a>
                                {% else %}
                                    <a></a>
                                {% endif %}
                            </div>
                            <div class="comic-entity-detail-url">
                                {% if event.wiki %}
                                    <a href="{{ event.wiki }}">Event
                                        Wiki URL</a>
                                {% else %}
                                    <a></a>
                                {% endif %}
                            </div>
                            <div class="comic-entity-detail-url">
                                {% if event.comicLink %}
                                    <a href="{{ event.comicLink }}">Event
                                        ComicLink URL</a>
                                {% else %}
                                    <a></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

        <!-- ROW 5 - CREATORS -->
        <div>
            <h5>Creators</h5>
            <div class="comic-entity-row">

                {% for creator in creator_data %}
                    <div class="comic-entity-card">
                        <img class="comic-entity-thumbnail"
                                {% if creator.thumbnail %}
                             src="{{ creator.thumbnail + creator.thumbnailExtension }}"
                                {% else %}
                             src=""
                                {% endif %}
                             alt="Creator Thumbnail">
                        <div class="comic-entity-body">
                            <h6 class="comic-entity-card-text">
                                {{ 'Name: ' + creator.firstName.strip() + ' ' + creator.middleName.strip() + ' ' + creator.lastName.strip() }}
                            </h6>
                            <h6 class="comic-entity-card-text">
                                {% if creator.id %}
                                    {{ 'Creator ID: (' ~creator.id + ')' }}
                                {% else %}
                                    ID: N/A
                                {% endif %}
                            </h6>
                            <p class="comic-entity-card-text">
                                {% if creator.role %}
                                    {{ 'Creator Role: ' + creator.role }}
                                {% else %}
                                    Role: N/A
                                {% endif %}
                            </p>
                            <div class="comic-entity-detail-url">
                                {% if creator.detailURL %}
                                    <a href="{{ creator.detailURL }}">Creator
                                        Detail URL</a>
                                {% else %}
                                    <a></a>
                                {% endif %}
                            </div>
                            <div class="comic-entity-detail-url">
                                {% if creator.wiki %}
                                    <a href="{{ creator.wiki }}">Creator
                                        Wiki URL</a>
                                {% else %}
                                    <a></a>
                                {% endif %}
                            </div>
                            <div class="comic-entity-detail-url">
                                {% if creator.comicLink %}
                                    <a href="{{ creator.comicLink }}">Creator
                                        ComicLink URL</a>
                                {% else %}
                                    <a></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

        <!-- ROW 6 - VARIANTS -->
        <div>
            <h5>Variants</h5>
            <div class="comic-entity-row">

                {% for variant in variant_data %}
                    <div class="comic-entity-card">
                        <img class="comic-entity-thumbnail"
                                {% if variant.thumbnail %}
                             src="{{ variant.thumbnail + variant.thumbnailExtension }}"
                                {% else %}
                             src=""
                                {% endif %}
                             alt="Variant Thumbnail">
                        <div class="comic-entity-body">
                            <h6 class="comic-entity-card-text">
                                {{ 'Variant Title: ' + variant.title }}
                            </h6>
                            <h6 class="comic-entity-card-text">
                                {% if variant.id %}
                                    {{ 'Variant ID: (' ~variant.id + ')' }}
                                {% else %}
                                    Variant ID: N/A
                                {% endif %}
                            </h6>
                            <p class="comic-entity-card-text">
                                {% if variant.description %}
                                    {{ 'Variant Description: ' + variant.description }}
                                {% elif variant.variantDescription %}
                                    {{ 'Variant Description: ' + variant.variantDescription.decode() }}
                                {% else %}
                                    Variant Description: N/A
                                {% endif %}
                            </p>
                            <div class="comic-entity-detail-url">
                                {% if variant.detailURL %}
                                    <a href="{{ variant.detailURL }}">Variant
                                        Detail URL</a>
                                {% else %}
                                    <a></a>
                                {% endif %}
                            </div>
                            <div class="comic-entity-detail-url">
                                {% if variant.wiki %}
                                    <a href="{{ variant.wiki }}">Variant
                                        Wiki URL</a>
                                {% else %}
                                    <a></a>
                                {% endif %}
                            </div>
                            <div class="comic-entity-detail-url">
                                {% if variant.comicLink %}
                                    <a href="{{ variant.comicLink }}">Variant
                                        ComicLink URL</a>
                                {% else %}
                                    <a></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

        <!-- ROW 7 - IMAGES -->
        <div>
            <h5>Images</h5>
            <div class="comic-entity-row">

                {% for image in image_data %}
                    <div class="comic-entity-card">
                        <img class="comic-entity-thumbnail"
                                {% if image.thumbnail %}
                             src="{{ image.thumbnail + image.thumbnailExtension }}"
                                {% else %}
                             src=""
                                {% endif %}
                             alt="Comic Image Thumbnail">
                        <div class="comic-entity-detail-url">
                            {% if image.thumbnail and image.thumbnailExtension %}
                                <a href="{{ image.thumbnail + image.thumbnailExtension }}">Image
                                    URL</a>
                            {% else %}
                                <a></a>
                            {% endif %}
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>

    {% else %}
        <div>
            <p>
                ERROR - NO COMIC DATA AVAILABLE
            </p>
        </div>

    {% endif %}

{% endblock %}

</body>

</html>
