<!DOCTYPE html>
<html lang="en">
<!-- Modified from starter code provided in exploration from bsg_app-->
<head>
    <title>Comics</title>
</head>

<body>
{% extends "base.html" %}
<h1>Comics</h1>

{% block content %}

    <div id="browse">
        <table border="1" cellpadding="5" class="center">
            <!-- Check that there is comics data data to  -->
            {% if comics_data %}

                <!-- Display the header rows -->
                <thead>
                <tr>
                    <th>Thumbnail</th>
                    <th>Comic ID</th>
                    <th>Title</th>
                    <th>Issue Number</th>
                    <th>View Detail</th>
                </tr>
                </thead>

                <!-- Display the row of content for each comic book in
                the appropriate column -->
                <tbody>
                {% for comic in comics_data %}

                    <tr>
                        {% if comic['thumbnail'] %}
                            <td><img
                                    src="{{ comic['thumbnail'] + '/' + 'portrait_medium' + comic['thumbnailExtension'] }}"
                                    alt="medium portrait thumbnail"></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td> {{ comic['id'] }}</td>
                        <td> {{ comic['title'] }}</td>
                        <td> {{ comic['issueNumber']|int }}</td>
                        <td><a href="view-comic/{{ comic['id'] }}">VIEW</a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>

            {% endif %}
        </table>

    </div>

{% endblock %}

</body>

</html>
